html{
    background-color: #000000;
}

body{
    background-color: #000000!important;
    color: white!important;
}

.bg-black{
    background-color: #000000!important;
}

.navbar-collapse{
    flex-grow: 0!important;
}

#introduce{
    background: url(../img/intro-pink.jpg) no-repeat center top ;
    margin-top: -70px;
    padding-top: 270px;
    text-align:center;
    min-height: 670px;
    color: white;
    text-transform: uppercase;
}

#about h4{
     color: rgba(255,255,255,.5);
}

#about i{
    color: gray;
}