#introduce{
    background: url(../img/intro.jpg) no-repeat center top fixed;
    margin-top: -70px;
    padding-top: 220px;
    text-align:center;
    min-height: 500px;
    width: 100%;
    color: white;
}